body {
}

.display {
    
}

.display:hover {
   color:#E6B800;
}

.error {

}

.left {
    float:left; 
    width:50%; 
   
}

.right {
   margin-left:50%; 
 
}

.dialog {
    position:absolute;
    background-color:#FFFF66;
    opacity:0.8;
    border: 1px solid black;


   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}

.append {
    width:200px;
    height:50px;
    line-height:50px;
    background-color:#E6B800;
    text-align:center;
}
.append:hover {
  border: 1px solid #99CCFF;     
  background-color: #FFCC00;        
}

li{
    margin: 10px 0;
}

.solveBtn {
    position:absolute;

}